.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../images/wall.png");
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  border-bottom: 5px solid #ffd700;
}

.panel {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  height: 150px;
  width: 150px;
  border: 1px solid #000000;
  background-color: #1aeaa5;
}

.enemy {
  background-image: url("../images/ralph.png");
  background-size: cover;
}

.enemy:active {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
}

.menu-lives {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2),
.menu-level h2:nth-child(2) {
  margin-top: 1rem;
}

.container__dialog {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: #000000cc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 45vw;
  height: 50vh;
  background-color: #ffffff;
  border-radius: 10px;
  border: #000000 3px solid;
}

.cabecalho__dialog {
  background-color: #000000;
  color: red;
  width: 100%;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
}

.corpo__dialog {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rodape__dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-top: #000000 solid 1px;
}

.rodape__dialog > button {
  background-color: #000000;
  color: red;
  border-radius: 5px;
  padding: 5px 20px;
}

.hidden {
  display: none;
}

.menu-lives img{
  width: 60px;
}

@media only screen  AND (max-width:760px){
  h2{
    font-size: 0.8rem;
  }
  .menu-lives img{
    width: 40px;
  }
}

@media only screen  AND (max-width:470px){
  .square {
    height: 100px;
    width: 100px;
  }
  h2{
    font-size: 0.5rem;
  }
  .menu-lives img{
    width: 30px;
  }
}